#titulo-principal {
  text-align: center;
  color: #333;
}

body {
  background-color: #56ad648c;
  font-family: 'Poppins', sans-serif; 
}


main {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
}

img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}

.btn-github {
    display: inline-block;
    background-color: #1b0101; 
    color: white;          
    padding: 10px 20px;    
    text-decoration: none;  
    border-radius: 5px;     
    font-weight: bold;
    transition: 0.3s;       

}
.btn-github:hover {
    background-color: #0b7425; 
    transform: scale(1.05); 
}

h2 {
  color: #2c3e50;
  border-bottom: 2px solid #3498db; 
  display: inline-block;
  padding-bottom: 5px;
}



.destaque {
  color: rgb(2, 2, 48);
  font-size: 18px;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

footer {
  font-size: 14px;
  color: #666;
}

@media (max-width: 600px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .box {
    width: 90%;
    margin: 10px 0;
  }

  #titulo-principal {
    font-size: 24px;
  }
}