#titulo-principal {
  text-align: center;
  color: #333;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}


main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
}

img {
  max-width: 100%;
  display: block;
  margin: 10px auto;
}



.destaque {
  color: rgb(2, 2, 48);
  font-size: 18px;
}

header, footer {
    text-align: center;
    margin-bottom: 20px;
}

footer {
  font-size: 14px;
  color: #666;
}